body {
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .card {
  margin: 20px 20px;
  width: 200px;
  padding: 20px;
  background-color: white;
}

.container .card .likes {
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.container .card .likes:hover {
  font-size: 40px;
}

